<a routerLink="/purchase/new" class="ui primary button">
  Add New
</a>
<table class="ui celled table">
  <thead>
    <tr>
      <th>Receive Ticket Number</th>
      <th>PO Number</th>
      <th>No. of Products</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of purchases">
      <td>{{p.rtn}}</td>
      <td>{{p.pon}}</td>
      <td>{{p.products.length}}</td>
      <td><a routerLink="/purchase-details/{{p.id}}">view</a></td>
    </tr>
  </tbody>
  <tfoot>
  </tfoot>
</table>
