<div class="ui grid">
    <div class="sixteen wide column">
        <div class="ui secondary  menu">
            <span class="item">
                Stock Keeper
            </span>
            <div class="right menu">
                <a href="#" (click)="logout($event)" class="ui item">
                    Logout
                </a>
            </div>
        </div>
    </div>
    <div *ngIf="authService.loggedIn.getValue()" class="four wide column">
        <div class="ui secondary vertical menu">
            <a routerLink="/dashboard" class="item" [ngClass]="(activatedMenu == 'dashboard') ? 'active': ''">
                Dashboard
            </a>
            <a routerLink="/products" class="item" [ngClass]="(activatedMenu == 'products') ? 'active': ''">
                Products
            </a>
            <a routerLink="/purchases" class="item" [ngClass]="(activatedMenu == 'purchases') ? 'active': ''">
                Purchases
            </a>
            <a routerLink="/requests" class="item" [ngClass]="(activatedMenu == 'requests') ? 'active': ''">
                Requests
            </a>
        </div>
    </div>
    <div class="twelve wide column">
        <router-outlet></router-outlet>
    </div>
</div>
