<form #pdForm="ngForm" (ngSubmit)="saveDetails()" class="ui form">
  <div class="field">
    <label>Receive Ticket Number</label>
    <input [(ngModel)]="model.rtn" name="rtn" type="text" placeholder="Receive Ticket Number" required>
  </div>
  <div class="field">
    <label>PO Number</label>
    <input type="text" [(ngModel)]="model.pon" name="po_number" placeholder="PO Number">
  </div>
  <div class="field">
      <label>Note</label>
      <input type="text" [(ngModel)]="model.notes" name="note" placeholder="Note">
    </div>
  <h4 class="ui dividing header">Purchase Item</h4>
  <div class="fields" *ngFor="let item of model.products; index as i;">
    <div class="five wide field">
      <sui-select class="selection" [name]="'product' + i" [(ngModel)]="item.product" [options]="rawProducts" valueField="id" labelField="name" [isSearchable]="true"
        [isDisabled]="false" #select>
        <sui-select-option *ngFor="let option of select.filteredOptions" [value]="option">
        </sui-select-option>
      </sui-select>
    </div>
    <div class="four wide field">
      <input type="text" [(ngModel)]="item.location" [name]="'location' + i" placeholder="Location">
    </div>
    <div class="three wide field">
      <input type="text" [(ngModel)]="item.original_quantity" [name]="'quantity' + i" placeholder="Quantity">
    </div>
  </div>
  <button (click)="newItem($event)" class="ui button">Add New Item</button>
  <button class="ui button primary" [disabled]="!pdForm.form.valid" type="submit">Save</button>
</form>